<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {literal}
    <!--literal 是smarty标签-->
    <style type="text/css">
        *{ padding: 0; margin: 0; }
        div{ padding: 4px 48px;}
        body{ background: #fff; font-family: "微软雅黑"; color: #333;font-size:24px}
        h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; }
        p{ line-height: 1.8em; font-size: 36px } a,a:hover{color:blue;}
    </style>
    {/literal}
</head>
<body>
<div style="padding: 24px 48px;">
    <h1>:)</h1>
    <p>欢迎使用<b> easySwoole</b></p><br>
    <p>现在是：{$time|date_format:"%Y年%m月%d日 %H时%M分%S秒"}</p>
</div>
</body></html>