<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>easyswoole websocket 多服务器互动聊天DEMO（基于小蝌蚪）</title>
    <link rel="stylesheet" type="text/css" href="/App/Static/css/main.css" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="YES">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/App/Static/images/apple-touch-icon.png"/>
    <meta property="fb:app_id" content="149260988448984" />
    <meta name="description" content="easyswoole websocket 多服务器互动聊天DEMO（基于小蝌蚪）" />
    <link rel="image_src" href="/App/Static/images/fb-image.jpg" >
    <link rel="stylesheet" href="/App/Static/css/jquery.fileupload.css">
    <script src="/App/Static/js/jquery.min.js"></script>
    <script src="/App/Static/js/lib/jquery.ui.widget.js"></script>
    <script src="/App/Static/js/lib/jquery.iframe-transport.js"></script>
    <script src="/App/Static/js/lib/jquery.fileupload.js"></script>
</head>
<body>
<canvas id="canvas"></canvas>

<div id="ui">
    <div id="fps"></div>

    <input id="chat" type="text" />
    <div id="chatText"></div>
    <div id="instructions">
        <h2>介绍</h2>
        <p>按空格可以输入内容，回车发送!<br />输入 name:XX 则会设置你的昵称为XX</p>
    </div>
    <aside id="info">
        <section id="wtf">
            <h2>原项目地址: <a href="http://rumpetroll.com/" target="_blank">rumpetroll.com</a></h2>
        </section>
    </aside>
    <aside id="frogMode">
        <h3>Frog Mode</h3>
        <section id="tadpoles">
            <h4>Tadpoles</h4>
            <ul id="tadpoleList">
            </ul>
        </section>
        <section id="console">
            <h4>Console</h4>
        </section>
    </aside>

    <div id="cant-connect">
        与服务器断开连接了。您可以重新刷新页面。
    </div>
    <div id="unsupported-browser">
        <p>
            您的浏览器不支持 <a rel="external" href="http://en.wikipedia.org/wiki/WebSocket">WebSockets</a>.
            推荐您使用以下浏览器
        </p>
        <ul>
            <li><a rel="external" href="http://www.google.com/chrome">Google Chrome</a></li>
            <li><a rel="external" href="http://apple.com/safari">Safari 4</a></li>
            <li><a rel="external" href="http://www.mozilla.com/firefox/">Firefox 4</a></li>
            <li><a rel="external" href="http://www.opera.com/">Opera 11</a></li>
        </ul>
        <p>
            <a href="#" id="force-init-button">仍然浏览!</a>
        </p>
    </div>

</div>

<script src="/App/Static/js/lib/parseUri.js"></script>
<script src="/App/Static/js/lib/modernizr-1.5.min.js"></script>
<script src="/App/Static/js/jquery.min.js"></script>
<script src="/App/Static/js/lib/Stats.js"></script>

<script src="/App/Static/js/App.js"></script>
<script src="/App/Static/js/Model.js"></script>
<script src="/App/Static/js/Settings.js"></script>
<script src="/App/Static/js/Keys.js"></script>
<script src="/App/Static/js/WebSocketService.js"></script>
<script src="/App/Static/js/Camera.js"></script>

<script src="/App/Static/js/Tadpole.js"></script>
<script src="/App/Static/js/TadpoleTail.js"></script>

<script src="/App/Static/js/Message.js"></script>
<script src="/App/Static/js/WaterParticle.js"></script>
<script src="/App/Static/js/Arrow.js"></script>
<script src="/App/Static/js/formControls.js"></script>

<script src="/App/Static/js/Cookie.js"></script>
<script src="/App/Static/js/main.js"></script>
</body>
</html>
